

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h3><strong class="text-danger">Menu Ejercicios</strong></h3>
            <hr />
            <ul>
                <li>@Html.ActionLink("Ejercicio 1 - Google Fonts", "Ejercicio1", "Exercise")</li>
                <li>
                    <a href="~/Ejercicios/Ejercicios-1-2.html">Ejercicio 1 - Google Fonts - Full Page Mode</a>
                </li>
                <li>@Html.ActionLink("Ejercicio 3 Bootstrap responsive", "Ejercicio3", "Exercise")</li>

                <li>@Html.ActionLink("Ejercicio 5 books & Authors relationated", "booksAuthors", "Book")</li>
                <li>@Html.ActionLink("Ejercicio 6a First Published", "FirstPublished", "Book")</li>
                <li>@Html.ActionLink("Ejercicio 7 - Angular", "AngularSumNumbers", "Exercise")</li>
            </ul>
        </div>

        </div>
    <div class="col-md-6">
        <h3><strong class="text-info">Download Section</strong></h3>
        <hr />
        <ul>
            <li>@Html.ActionLink("Download SQL Script ejercicio 4", "downloadScript", "Exercise")</li>
            <li><a href="~/Documents/Schema Tables RelationsShip.png" download="Schema Tables RelationsShip.png">Download Image Schema Db Relationship</a></li>
            <li><a href="~/Documents/guía.docx" download="guía.docx">Download Guía</a></li>
        </ul>
    </div>
    
</div>